.{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background: linear-gradient(45deg, #cabde0, rgb(142, 173, 161));
    font-family:Arial, Helvetica, sans-serif ;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    
  .container {
   position: relative;
    }

    form {
        background: rgba(255, 255, 255, .3);
        padding: 3rem;
        height: 320px;
        border-radius: 20px;
        border-left: 1px solid rgba(255, 255, 255, .3);
        border-top: 1px solid rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        box-shadow: 20px  20px 40px -6px rgba(0, 0, 0, .2);
        text-align: center;
    }

    h3 {
        margin-top: -20px; /* Ajustez la valeur selon vos besoins */
    }

    p{
        color: white;
        font-weight: 500;
        opacity: .7;
        font-size: 1.4rem;
        margin-bottom: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    }


    a:hover,
    p:hover{
        text-shadow: 2px 2px 6px rgb(0,0,0);

    }

    a{
        color: #1f1266;
        text-decoration: none;
        font-size: 20px;
        transition: all .3s;
    }

    .custom-button {
        text-decoration: none; /* Enlève le soulignement */
        font-size: 20px; /* Agrandit la taille du texte */
        font-weight: bold; /* Met le texte en gras */
        font-family: Arial, sans-serif; /* Change la police du texte */
        display: block;
      }

      .custom-button.previous {
        float: left;
        margin-top: 75px;
      }
      
      .custom-button.next {
        float: right;
        margin-top: 75px;
      }

    ::placeholder{
        color: white;
    }

    input:hover,
    input [type="email"]:focus,
    input [type="password"]:focus{
        background: rgba(255, 255, 255, .1);
        box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
    }

    input[type="button"]{
        cursor: pointer;
        margin-top: 5px;
        font-size: 1rem;
        width: 100px;
    }
    .drop{
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter : blur(10px);
        position: absolute;
        border-left: 1px solid rgba(255, 255, 255, .3);
        border-top:  1px solid rgba(255, 255, 255, .3);
        border-radius: 10px;
        box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2) ;
    }

    .drop-1{
        height: 80px;width: 80px;
        top: -20px;left: -40px;
        z-index: -1;
    }

    .drop-2{
        height: 80px;width: 80px;
        bottom: -30px;right: -40px;
    }

    .drop-3{
        height: 100px;width: 100px;
        bottom: 120px;right: -40px;
        z-index: -1;
    }

    .drop-4{
        height: 120px;width: 120px;
        top: -20px;right: -100px;  
    }

    .drop-5{
        height: 60px;width: 60px;
        bottom: 170px;right: 90px;
        z-index: -1;
    }

    header {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
         }
     
         nav{
             display: flex;
             flex-wrap: wrap;
             align-items: center;
             width: 100%;
             padding: 30px 0 10px;
         }
     
         .logo{
             width: 170px;
             padding-right: 200px;
         }
     
         .menu-icon{
             width: 50px;
             cursor: pointer;
         }
     
         ul {
             flex: 1;
             display: flex;
             justify-content: flex-end;
             padding-right: 20px;
         }
     
         ul li {
             list-style: none;
             margin-left: 30px;
         }
     
         ul li a {
            text-decoration: none;
            color: #f2f2f5;
            font-size: 1.2rem;
            transition: color .3s;
            background: transparent;
            border: none;
            border-left:  1px solid rgba(255, 255, 255, .3);
            border-top: 1px solid rgba(255, 255, 255, .3);
            padding: 1rem;
            width: 150px;
            border-radius: 50px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            -moz-backdrop-filter: blur(5px);
            box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
            color: white;
            font-weight: 500;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
            transition: all .3s;
            margin-bottom: 15px;
        }
    
        ul li a:hover{
            color: #1f1266;
        }
    
     
         li :hover{
             color: #1f1266;
         }

    
         img{
            width: 35px;
            cursor: pointer;
          }

         .custom-button{
            background: linear-gradient(45deg, #cabde0, rgb(142, 173, 161));
            border: none;
            border-left:  1px solid rgba(255, 255, 255, .3);
            border-top: 1px solid rgba(255, 255, 255, .3);
            padding: 1rem;
            width: 150px;
            border-radius: 50px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            -moz-backdrop-filter: blur(5px);
            box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
            color: #1f1266;
            font-weight: 500;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
            transition: all .3s;
            margin-bottom: 15px;
             }
    